html, body, .leaflet-container {
  margin: 0;
  padding: 0;

  font-family: Helvetica, sans-serif;
  font-size: 10px;
}

#map {
  position: absolute;
  top: 0%; bottom: 0; width: 100%;
  z-index: 0;
}

.box {
  position: absolute;
  z-index: 100;
  padding: 10px;
  font-size: 1.6em;
  -moz-box-sizing: border-box;   
  -webkit-box-sizing: border-box;  
  box-sizing: border-box;   
  
  border: 1px solid hsl(0, 0%, 60%);
  border-radius: 10px;
  box-shadow: hsla(0, 0%, 0%, 0.4) 3px 3px 10px;
  background: hsl(25, 100%, 95%);  
}

/* leaflet L.control() styles */
.box.leaflet {
    position: relative;
    padding: 6px 8px;
}

.box.leaflet.legend {
    margin: 0 0 18px 18px;    
    line-height: 20px;
    color: #555;
}

.box.leaflet.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
    /*border: 1px solid black;*/
    border-bottom: 2px solid hsl(25, 100%, 95%);
}

.box h4 {
  margin: 0;
}

.box.title {
  top: 18px; left: 18px;   
  font-size: 2em;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;
}

#about {
  width: 220px;
  height: 400px;
  top: 80px; 
  left: 18px;  

  color: #555;
  line-height: 1.4em;
}

#about sup {
  position: relative;
  left: 123px;
  top: 5px;
  padding: 2px 5px;

  cursor: pointer;
  font-size: 1em;
  font-weight: 500;
}

#about h4 {
  position: relative;
  top: -5px;
}

#about p {
  /*padding: 0;*/
  margin: 0 0 10px 0;
}

.info1 {
  height: 43px;
  padding: 0px 5px 0px 10px;
  right: 50px;
  top: 80px;
  margin: 0;
  color: #555;
}

.info1 p {
  position: relative;
  top: -2.7em;
}

.info1 p span {
  position: relative;
  font-size: 3em;
  top: .27em;
}